@model int

<div class=" container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"> Order Successful!</h1>
        Your Order Number is : @Model <br /> <br />
        <img src="~/images/lawn_leaf.jpg" width="65%"/>
    </div>
    <div class="text-center col-12" style="color:maroon">
        <br />
        Your order have been placed successfully! <br />
    </div>
</div>